localstack/state-machine.json
{
  "Comment": "Order Saga - async orchestration via Lambda proxy",
  "StartAt": "CreateOrder",
  "States": {
    "CreateOrder": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:000000000000:function:saga-http-proxy",
      "Parameters": {
        "action": "CREATE_ORDER",
        "orderId.$": "$.orderId",
        "productId.$": "$.productId",
        "quantity.$": "$.quantity",
        "amount.$": "$.amount",
        "traceId.$": "$.traceId"
      },
      "ResultPath": "$.createOrderResult",
      "Next": "ExecutePayment",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "SagaFailed"
        }
      ]
    },
    "ExecutePayment": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:000000000000:function:saga-http-proxy",
      "Parameters": {
        "action": "EXECUTE_PAYMENT",
        "orderId.$": "$.orderId",
        "amount.$": "$.amount",
        "traceId.$": "$.traceId"
      },
      "ResultPath": "$.paymentResult",
      "Next": "CapturePayment",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "CompensateCancelOrder"
        }
      ]
    },
    "CapturePayment": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:000000000000:function:saga-http-proxy",
      "Parameters": {
        "action": "CAPTURE_PAYMENT",
        "orderId.$": "$.orderId",
        "traceId.$": "$.traceId"
      },
      "ResultPath": "$.captureResult",
      "Next": "CompleteOrder",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "CompensateRefundPayment"
        }
      ]
    },
    "CompleteOrder": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:000000000000:function:saga-http-proxy",
      "Parameters": {
        "action": "COMPLETE_ORDER",
        "orderId.$": "$.orderId",
        "traceId.$": "$.traceId"
      },
      "ResultPath": "$.completeResult",
      "Next": "SagaSucceeded",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "CompensateRefundPayment"
        }
      ]
    },
    "SagaSucceeded": {
      "Type": "Succeed"
    },
    "CompensateRefundPayment": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:000000000000:function:saga-http-proxy",
      "Parameters": {
        "action": "COMPENSATE_REFUND",
        "orderId.$": "$.orderId",
        "traceId.$": "$.traceId"
      },
      "ResultPath": "$.refundResult",
      "Next": "CompensateCancelOrder",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.compensationError",
          "Next": "CompensateCancelOrder"
        }
      ]
    },
    "CompensateCancelOrder": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:000000000000:function:saga-http-proxy",
      "Parameters": {
        "action": "COMPENSATE_CANCEL",
        "orderId.$": "$.orderId",
        "traceId.$": "$.traceId"
      },
      "ResultPath": "$.cancelResult",
      "Next": "SagaFailed",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.compensationError",
          "Next": "SagaFailed"
        }
      ]
    },
    "SagaFailed": {
      "Type": "Fail",
      "Error": "SagaFailed",
      "Cause": "Saga execution failed, compensations attempted"
    }
  }
}
