localstack/state-machine.json
{
  "Comment": "Order Saga - async orchestration",
  "StartAt": "CreateOrder",
  "States": {
    "CreateOrder": {
      "Type": "Task",
      "Resource": "arn:aws:states:::http:invoke",
      "Parameters": {
        "ApiEndpoint": "http://host.docker.internal:8081/api/orders",
        "Method": "POST",
        "Headers": {
          "Content-Type": ["application/json"],
          "Idempotency-Key.$": "States.Format('create-order-{}', $.orderId)",
          "X-Trace-Id.$": "$.traceId"
        },
        "RequestBody": {
          "orderId.$": "$.orderId",
          "productId.$": "$.productId",
          "quantity.$": "$.quantity",
          "amount.$": "$.amount"
        }
      },
      "ResultPath": "$.createOrderResult",
      "Next": "ExecutePayment",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "SagaFailed"
        }
      ]
    },
    "ExecutePayment": {
      "Type": "Task",
      "Resource": "arn:aws:states:::http:invoke",
      "Parameters": {
        "ApiEndpoint": "http://host.docker.internal:8083/api/payments/authorize",
        "Method": "POST",
        "Headers": {
          "Content-Type": ["application/json"],
          "Idempotency-Key.$": "States.Format('authorize-payment-{}', $.orderId)",
          "X-Trace-Id.$": "$.traceId"
        },
        "RequestBody": {
          "orderId.$": "$.orderId",
          "amount.$": "$.amount"
        }
      },
      "ResultPath": "$.paymentResult",
      "Next": "CapturePayment",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "CompensateCancelOrder"
        }
      ]
    },
    "CapturePayment": {
      "Type": "Task",
      "Resource": "arn:aws:states:::http:invoke",
      "Parameters": {
        "ApiEndpoint.$": "States.Format('http://host.docker.internal:8083/api/payments/{}/capture', $.orderId)",
        "Method": "PUT",
        "Headers": {
          "Idempotency-Key.$": "States.Format('capture-payment-{}', $.orderId)",
          "X-Trace-Id.$": "$.traceId"
        }
      },
      "ResultPath": "$.captureResult",
      "Next": "CompleteOrder",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "CompensateRefundPayment"
        }
      ]
    },
    "CompleteOrder": {
      "Type": "Task",
      "Resource": "arn:aws:states:::http:invoke",
      "Parameters": {
        "ApiEndpoint.$": "States.Format('http://host.docker.internal:8081/api/orders/{}/complete', $.orderId)",
        "Method": "PUT",
        "Headers": {
          "Idempotency-Key.$": "States.Format('complete-order-{}', $.orderId)",
          "X-Trace-Id.$": "$.traceId"
        }
      },
      "ResultPath": "$.completeResult",
      "Next": "SagaSucceeded",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "CompensateRefundPayment"
        }
      ]
    },
    "SagaSucceeded": {
      "Type": "Succeed"
    },
    "CompensateRefundPayment": {
      "Type": "Task",
      "Resource": "arn:aws:states:::http:invoke",
      "Parameters": {
        "ApiEndpoint.$": "States.Format('http://host.docker.internal:8083/api/payments/{}/refund', $.orderId)",
        "Method": "PUT",
        "Headers": {
          "Idempotency-Key.$": "States.Format('comp-refund-{}', $.orderId)",
          "X-Trace-Id.$": "$.traceId"
        }
      },
      "ResultPath": "$.refundResult",
      "Next": "CompensateCancelOrder",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.compensationError",
          "Next": "CompensateCancelOrder"
        }
      ]
    },
    "CompensateCancelOrder": {
      "Type": "Task",
      "Resource": "arn:aws:states:::http:invoke",
      "Parameters": {
        "ApiEndpoint.$": "States.Format('http://host.docker.internal:8081/api/orders/{}/cancel', $.orderId)",
        "Method": "PUT",
        "Headers": {
          "Idempotency-Key.$": "States.Format('comp-cancel-{}', $.orderId)",
          "X-Trace-Id.$": "$.traceId"
        }
      },
      "ResultPath": "$.cancelResult",
      "Next": "SagaFailed",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.compensationError",
          "Next": "SagaFailed"
        }
      ]
    },
    "SagaFailed": {
      "Type": "Fail",
      "Error": "SagaFailed",
      "Cause": "Saga execution failed, compensations attempted"
    }
  }
}
